{{>header}}
<div class="p-5">
  
<center><h1>POS / Staff</h1></center>   

  
<table class="table table-success table-striped ">
  <thead>
    <tr>
      <th scope="col">Nmae</th>
      <th scope="col">Email</th>
      
      <th scope="col">Staff</th>
      <th scope="col">POS</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
      
    </tr>
  </thead>
  <tbody>

    {{#each clients}}
   

    <tr>
      <form method="POST" action="/admin/clients">
      <td>{{this.first_name}} {{this.last_name}}</td>
      <td>{{this.email}} </td>
      <input type="hidden" name="id" value="{{this._id}}"/>
      <td>
        <div class="form-check">
        <input class="form-check-input" type="checkbox" {{#if this.is_staff}} checked{{/if}} id="is_staff" name="is_staff">
        
      </div>
      </td>
      <td>

        <div class="form-check">
        <input class="form-check-input" type="checkbox" {{#if this.is_pos}} checked{{/if}} id="is_pos" name="is_pos">
        
      </div>
      </td>
      <td>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" {{#if this.is_active}} checked {{/if}} id="is_active" name="is_active">
          
        </div>
      </td>
     <td>
      <button type="submit" class="btn btn-primary btn-sm">Update</button>
      </td>
      
      </form>
    </tr>
   {{/each}} 
    
  </tbody>
</table>
   
 
</div>



{{>footer}}